
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: gray;
   
}
.container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
     
    
    background: #ffffff;
    height: 110vh;
    width: 100%;
    position: absolute;
   
}

.text{
    width: 60%;
    padding: 10px 10px;
    
    font-size: 20px;
}
.btn{
   
    border: none;
    outline: none;
   
    background: purple;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;
    color: #ffffff;
    width: 200px;
    transition: 0.3s ease;
}
.btn:hover{
    background: #00a3e8;
}
/* .nippu{
    width:400px;
    height:500px;
}
.akhilesh{
    width:400px;
    height:500px;
}
.sunil{
    width:400px;
    height:500px;
}
.manoj{
    width:400px;
    height:500px;
}
.vikash{
    width:400px;
    height:500px;
} */
