*{
	margin:0;
	padding:0;
	font-family: 'Cinzel', serif;
}
.nkimg{
	width:100%;
	height:100vh;
	background-image: linear-gradient(27deg,#004E95 50%,#013A6D 50%);
}
.centerdiv1{
	width:350px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	/*background-color: red;*/
	transform:translate(-50%, -50%);
	background-image: linear-gradient(27deg,#013A6D 50%,#004E95 50%)
}
.logHeading{
	text-align:center;
	color:white;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 50px;
	margin-bottom: 50px;
	word-spacing: 10px;
}
.inputbox{
	width:calc(100% - 40px);
	height:30px;
	display:block;
	margin:auto;
	padding:0 10px;
	box-sizing: border-box;
	border-radius: 10px;
}

::placeholder{
	letter-spacing :3px;
	color:blacks;
}
button{
	width:calc(100% - 40px);
	height:30px;
	display:block;
	margin:auto;
	color:white;
	background-color: #0A84c6;
	border:none;
	border-radius: 50px;
}
.forgot-section{
	width:calc(100% - 40px);
	line-height:30px;
	display:block;
	margin:auto;
	color:white;
	margin-top: 20px;
	text-align: right;
	padding-right: 30px;
}